<mat-toolbar>
  <span>Unpaper</span>
  <span class="example-spacer"></span>

  <div>
    <button mat-icon-button class="card__info" matTooltip="Refresh!" matTooltipShowDelay="1000" (click)="onClick()">
      <mat-icon>refresh</mat-icon>
    </button>
    <button mat-icon-button class="card__info">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div class="grid">
  <unpaper-card *ngFor="let photo of (photos$ | async)" [photo]="photo" (setImage)="onSetImage($event)"></unpaper-card>
</div>