@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~material-design-icons-iconfont/dist/material-design-icons.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: inherit;
  color: inherit;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
}
input,
button,
textarea,
:focus {
  outline: none; // You should add some other style for :focus to help UX/a11y
}
