<div class="settings">
  <div class="settings__container">
    <mat-card class="settings__card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam ratione repellat dolore? Voluptatum distinctio quaerat sapiente eos non rem cumque nisi sit ipsum reiciendis odit nulla, hic consequuntur maiores eaque.</mat-card>
    <mat-card class="settings__card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam ratione repellat dolore? Voluptatum distinctio quaerat sapiente eos non rem cumque nisi sit ipsum reiciendis odit nulla, hic consequuntur maiores eaque.</mat-card>
    <mat-card class="settings__card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam ratione repellat dolore? Voluptatum distinctio quaerat sapiente eos non rem cumque nisi sit ipsum reiciendis odit nulla, hic consequuntur maiores eaque.</mat-card>
    <mat-card class="settings__card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam ratione repellat dolore? Voluptatum distinctio quaerat sapiente eos non rem cumque nisi sit ipsum reiciendis odit nulla, hic consequuntur maiores eaque.</mat-card>
    <mat-card class="settings__card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam ratione repellat dolore? Voluptatum distinctio quaerat sapiente eos non rem cumque nisi sit ipsum reiciendis odit nulla, hic consequuntur maiores eaque.</mat-card>
    <mat-card class="settings__card">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam ratione repellat dolore? Voluptatum distinctio quaerat sapiente eos non rem cumque nisi sit ipsum reiciendis odit nulla, hic consequuntur maiores eaque.</mat-card>
  </div>
</div>

